<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
   </head>
<body>
 {{>navbar}}

    <!-- main header -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-mid-10 col-12 mx-auto">
<div class="row">
    <!-- left side div  -->
    <div class="col-md-6 col-12 main_header_left">
<figure><img src="/public/css/Aphoto.png" alt="anoop" class="img-fluid" title="CloverTV"></figure>
    </div>
<!-- right side div -->
<div class="col-md-6 col-12 main_header_left">
    <p>Welcome to weather App</p>
    <h1>I Am A <span class="text_clr">MERN Stack Developer</span> and a freelancer</h1>
    <a href="https://www.instagram.com/__mr_clover/" target="_Anoop"><button>About ME</button></a>
        </div>
</div>
            </div>
        </div>
    </div>

    <!-- footer code  -->

   {{>footer}}
</body>
</html>